*{
	margin:0;
	padding:0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #1b1a18;
}

header {
  background-color: #1b1a18;
  color: #CDB47B;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  
}
p {
  font-size: 16px;
  line-height: 1.28;
 
}

h3 {
  text-align: center;
  padding-bottom:10px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
}

nav a {
  color:  #393939;
  text-decoration: none;
  display: block;
  padding: 20px;
}

@media (max-width: 768px) {
  /* Adjust the layout for small screens */
  nav {
    flex-direction: column;
  }
  h1 {
    font-size: 20px;
  }
  section {
   
   max-width: 100vw;
    color: #f4f4f4;
  }
  
  #section-d div{
	 text-align: center;
		
}

    
 table {
  width: 85vw; /* Set the width of the table */
  border-collapse: collapse; /* Collapse the borders of the table cells */
}
  h2 {
    font-size: 16px;
  }
  li {
	  font-size: 15px;
	  color:#CDB47B;
  }
  p {
  font-size: 15px;
  
}
   main {
     
    max-width: 90%;
  margin:0;
  }
}

h2 {
    color:#CDB47B;
	font-size: 26px;
	line-height:1.5;
  }

li {
	  font-size: 18px;
	  color:#f4f4f4;
  }
input[type="submit"] {
font-size:13px;  
  width: 55px; /* Set the width of the button to 120 pixels */
  height: 25px;
  border-color: #CDB47B;
  background-color:  #CDB47B ; /* set the background color to black */
  color: black; /* set the text color to white */
  border-radius:4px;
}
nav a:hover {
  background-color: #CDB47B;
  color:white;
}

main {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  
}
#slika1{
	width:320px;
	height:290px;
	padding:10px;
	margin-left:100px;
}
#slika2{
	margin-left:40px;
	width:320x;
	height:290px;
	padding:10px;
}
section {
 ; /* Set the width of the text in the section element to 60% of the screen */
  max-width: 940px; /* Set the maximum width of the text to 600px */
  margin: 0 auto; /* Center the text in the section element */
 padding:20px;
  margin-bottom: 2px;
  background:  ;
  color:#f4f4f4;
  
}

#section-d div{
	
	padding:10px;
		text-align: center;
}

#section-a {
	padding:20px;
}

#section-c {
	padding:20px;
}
#section-d {
	display:flex;
}
#section-d .box-1, #section-d .box-3{
	background:#CDB47B;
	
}

.center-images {
    display: flex;
    justify-content: center;
}








/* Add styles for the Instagram button element */
#instagram-button {
  width: 25px; /* Set the maximum width of the button */
  height: 25px; /* Set the maximum height of the button */
  background-color: white ; 
  border: none; /* Remove the border */
  border-radius: 5.9px; 
  cursor: pointer; /* Add a pointer cursor */
}

#facebook-button {
  width: 25px; /* Set the maximum width of the button */
  height: 25px; /* Set the maximum height of the button */
  background-color: white ; 
  border: none; /* Remove the border */
  border-radius: 5.9px; 
  cursor: pointer; /* Add a pointer cursor */
}
/* Add styles for the form elements */
form {
padding-top:10px;
 font-size: 10px; /* Set the font size of the form */
  font-family: Arial, sans-serif; /* Set the font family of the form */
  color: white; /* Set the text color of the form */
  background-color: #1b1a18; /* Set the background color of the form */
}

input[type="text"], input[type="email"], input[id="sporočilovprašanje"]{
  
  width: 50%; /* Set the width of the input fields */
  padding: 12px 20px; /* Add padding to the input fields */
  margin: 8px 0; /* Add margin to the input fields */
  box-sizing: border-box; /* Make the input fields resizeable */
  border: 2px solid #ccc; /* Add a border to the input fields */
  border-radius: 6px; /* Round the corners of the input fields */
}


/* Add styles for the table element */
table {
  width: 650px; /* Set the width of the table */
  border-collapse: collapse; /* Collapse the borders of the table cells */
}
/* choose a color scheme */
th {
  background-color: #1b1a18;
  color: white;
  padding:5px;
}

td {
  background-color: 1b1a18;
  line-height:1.5;
}

/* add hover effects */
tr:hover {
  background-color: #CDB47B;
}
td.price {
  text-align: center; /* center the text in the cells with the class "price" */
}
td.time {
	text-align: center;
}



footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1a18;
padding-top:250px;
margin-top:0;
  color: #f4f4f4;
}
.container {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 33.333%; /* Set the width of each column to 33.333% of the footer */
  margin: 0 20px;

  text-align: center; /* Center the text in the column */
}

.column h3 {
  color:#f3f3f3;
  margin-bottom: 10px;
  font-size:14px;
}

.column ul {

 list-style: none;
  margin: 0;
  padding: 0;
}

.column li {
 color: #393939;
font-size:14px; 
 margin-bottom: 10px;
}
.column li:hover {
  color: white;
}
.column a {
font-size:13px; 
 color: #393939;
  text-decoration: none;
}

.column a:hover {
  color: white;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column; /* Stack the columns vertically on small screens */
  }
  footer .column {
    width: 100%; /* Make each column take up the full width of the footer on small screens */
    margin: 20px 0; /* Add some space between the columns on small screens */
  }
}